* {
    margin: 0;
}

.geral {
    background-color: rgb(116, 116, 116);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(202, 202, 202);
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#titulo {
    position: absolute;
    top: 60px;
    font-size: 40px;
}

form {
    display: flex;
    height: 400px;
    align-items: center;
    padding: 30px;
   
}

input { 
    align-items: center;
    flex-direction: row;
    display: flex;
}